.container {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 10rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--z);
}

.loading {
  margin-left: 3.5rem;
  color: rgb(20, 18, 18);
  font-size: 1rem;
}
